@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: #2d2d2d;
  font-family: 'Montserrat', sans-serif;
}
*:focus, *:active {
  border: none;
  outline: none;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  background-color: rgb(226, 237, 240);
}

.wrapper {
  max-width: 80%;
  width: 100%;

  margin: 0 auto;
  padding: 20px;

  background: white;
  border-radius: 10px;
  border: 1px solid #c7c6c6;
}

.title {
  text-align: center;
  margin: 70px 0 20px 0;
}
.study-add__form,
.prof-add__rows {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
hr {
  width: 100%;
  height: 3px;
  background-color: #c7c6c6;
}
.study-add__header {
  font-size: 18px;
}
.study-add__header span {
  text-align: center;
  max-width: 230px;
  width: 100%;
}

.study-add__item-row input,
.prof-add__item-row input {
  max-width: 200px;
  width: 100%;

  padding: 8px 15px;

  border-bottom: 2px solid rgb(226, 237, 240);

  font-weight: 500;
  font-size: 16px;
}
.study-add__btns,
.prof-add__btns {
  display: flex;
  gap: 10px;
  align-items: center;

  margin-top: 10px;
}
.study-add__btns button,.prof-add__btns button,
#btnSend {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 5px;

  max-width: 230px;
  width: 100%;
  height: 40px;

  background-color: rgb(226, 237, 240);
  cursor: pointer;
  border-radius: 10px;

  transition: hover .3s ease;
}

.study-add__btns button:hover {
  background-color: rgb(225, 231, 233);
}
.study-add__btns button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 5px;

  max-width: 230px;
  width: 100%;
  height: 40px;

  background-color: rgb(226, 237, 240);
  cursor: pointer;
  border-radius: 10px;

  transition: hover .3s ease;
}
.study-add__btns button:hover {
  background-color: rgb(225, 231, 233);
}
.navButtons{
  margin-top: 10px;
}
.spellButtons{
  margin-top: 50px;
}

table {
  border-collapse:collapse;
}

thead,
tbody {
  border-bottom: 2px solid black;
}

tbody >
tr:hover {
  background: #ebebeb;
  cursor: pointer;
}

tfoot td{
  padding: 0px 24px;
}

th,
td {
  text-align: center;
  padding: 12px;
}

.navButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.disabled {
  opacity: .5;
}

.study-add__edit-icon {
  width: 40px;
  padding: 0;

  cursor: pointer;

  transition: hover .3s;
}
.study-add__edit-icon:hover {
  background-color: #fafafa;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;

  width: 100vw;
  height: 100vh;

  background-color: rgba(50, 50, 50, 0.5);
}
.modal__container {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  z-index: 1000;
  overflow: hidden;

  width: 800px;
  height: auto;

  padding: 10px;

  background: #fff;
  border-radius: 10px;
}
.modal p {
  color: #2d2d2d;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.modal__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  margin: 30px auto;
}
.modal__headers {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 50%;
}
.modal__headers span {
  line-height: 38px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  white-space: nowrap;
}
.modal__values {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  width: 50%;
}
.modal__values input {
  line-height: 30px;
  padding: 4px 10px;

  border-bottom: 1px solid rgb(226, 237, 240);

  font-size: 18px;
  font-weight: 500;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;

  cursor: pointer;
}